* {
  font-family: Roboto, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 16px;
  font-size: large;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  padding: 32px;
  background-color: #1f2937;
  color: #e5e7eb;
  padding-bottom: 100px;
}

.hero-text {
  max-width: 400px;
  font-size: 18px;
}

h1 {
  font-size: 48px;
}

.hero-image {
  width: 400px;
  height: 200px;
  background-color: #374151;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  color: #e5e7eb;
  border: none;
  padding: 12px 36px;
  border-radius: 8px;
  font-size: 18px;
}

button:hover {
  cursor: pointer;
}
